#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: 150px;
  margin-top: 30px;
}
@media screen and (min-width: 370px) and (max-width: 1100px) {
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: 1px;
    margin-top: 30px;
  }
  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 5px !important;
  }
}

@media screen and (max-width: 360px) {
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding-left: -30px;
    margin-top: 30px;
  }
  .table {
    width: 50%;
    margin-left: -150px;
  }
  .table1 {
    width: 30%;
    margin-left: -20px;
    padding-left: -30px;
  }
  #customers2 {
    margin-left: 40px !important;
  }
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #337ab7;
  color: white;
}

/* subjects  */
#customers1 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 48%;
  margin-left: 30px;
  display: inline;
  float: left;
}

#customers1 td,
#customers1 th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers1 tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #337ab7;
  color: white;
}
/*-----------------*/
#customers2 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 48%;
  margin-left: 100px;
  margin-top: 30px;
  padding-top: 50px;
}

#customers2 td,
#customers2 th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers2 tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers2 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #337ab7;
  color: white;
}

#course_subject {
  margin-top: 80px;
  font-family: fantasy;
  font-size: 25px;
  text-align: center;
}
#Apply_customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: 50px;
  margin-top: 60px;
}

#Apply_customers td,
#Apply_customers th {
  border: 1px solid rgba(0, 0, 0, 0.822);
  padding: 8px;
}

#Apply_customers tr {
  background-color: #f2f2f2;
}

#Apply_customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f2f2f2;
  color: black;
}
#Apply_customers td input[type="text"] {
  width: 100%;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.685);
  border-radius: 4px;
  box-sizing: border-box;
}
.Apply_table {
  text-align: center;
}
